
@{
    ViewBag.Title = "ChoO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div  style="padding: 20px 200px">
        <div>
            <h1 align="center">Tìm chỗ ở th&acirc;n thuộc như ở nhà</h1>
            <p>
                Việc chọn nơi sinh sống l&agrave; một quyết định lớn. Bạn cần phải
                y&ecirc;u th&iacute;ch nơi bạn sống, để c&oacute; thể tận dụng trải
                nghiệm h&agrave;nh tr&igrave;nh du học. V&agrave; bạn cần cảm thấy an
                to&agrave;n, v&agrave; c&oacute; thể li&ecirc;n lạc những người
                c&oacute; thể hỗ trợ khi bạn cần.
            </p>
            <h3 style="color: chocolate">Các lựa chọn về chỗ ở</h3>
            <img src="~/Content/images/camnang/hme_sty.png" style="margin: 2% 20%" alt="Home Stay" />
            <h3 style="color: rgb(80, 118, 43);">Homestay</h3>
            <p>
                Chương tr&igrave;nh ở trọ với người bản xứ (homestay) l&agrave; điều
                ho&agrave;n hảo nếu bạn muốn ở với một gia đ&igrave;nh địa phương
                v&agrave; trải nghiệm văn h&oacute;a v&agrave; lối sống của họ. Chủ
                nh&agrave; được c&aacute;c nh&agrave; cung cấp lựa chọn đều l&agrave;
                những người cởi mở v&agrave; th&acirc;n thiện, sẽ gi&uacute;p bạn cảm
                thấy th&acirc;n thuộc như ở nh&agrave; m&igrave;nh. Bạn sẽ c&oacute;
                ph&ograve;ng ri&ecirc;ng với đầy đủ tiện nghi v&agrave; d&ugrave;ng bữa
                với gia đ&igrave;nh mới. Chủ nh&agrave; sẽ giới thiệu những thắng cảnh
                địa phương v&agrave; hướng dẫn bạn c&aacute;ch di chuyển đến đ&oacute.
            </p>
            <p style="color: rgb(37, 144, 144)">Tại sao nên chọn Homestay?</p>
            <ul>
                <li>
                    Đ&oacute; l&agrave; c&aacute;ch thức tốt để cải thiện tiếng Anh của
                    bạn
                </li>
                <li>
                    Bạn sẽ c&oacute; bạn mới v&agrave; kh&aacute;m ph&aacute; về
                    v&ugrave;ng đất mới
                </li>
                <li>
                    Sống tại một gia đ&igrave;nh gi&uacute;p bạn cảm thấy &iacute;t nhớ
                    nh&agrave;
                </li>
                <li>
                    Bạn c&oacute; người hướng dẫn v&agrave; hỗ trợ trong l&uacute;c ổn
                    định chỗ ở mới.
                </li>
            </ul>
        </div>
        <div>
            <img src="~/Content/images/camnang/stu_sty.png.png" style="margin: 2% 20%" alt="Student Stay" />
            <h3 style="color: rgb(65, 101, 30)">Căn hộ học sinh</h3>
            <p>
                C&aacute;c căn hộ học sinh (student apartments) l&agrave; lựa chọn tuyệt
                vời nếu bạn muốn c&oacute; chỗ ở tiện nghi, gi&aacute; phải chăng
                v&agrave; cơ hội chia sẻ trải nghiệm của m&igrave;nh với du học sinh đến
                từ khắp nơi tr&ecirc;n thế giới. Căn hộ c&oacute; sẵn mọi thứ bạn cần
                v&agrave; bạn c&oacute; thể dọn v&agrave;o ở ngay.
            </p>
            <p style="color: rgb(30, 126, 126)">
                Tại sao n&ecirc;n chọn một Căn hộ Học sinh?
            </p>
            <ul>
                <li>Dễ d&agrave;ng kết bạn v&agrave; giao tiếp x&atilde; hội</li>
                <li>
                    Nh&acirc;n vi&ecirc;n hỗ trợ lu&ocirc;n sẵn s&agrave;ng nếu bạn cần
                    gi&uacute;p đỡ hoặc giải đ&aacute;p thắc mắc
                </li>
                <li>
                    C&aacute;c căn hộ thường ở gần khu học x&aacute;, gi&uacute;p bạn tiết
                    kiệm thời gian di chuyển
                </li>
                <li>Bạn sống trong m&ocirc;i trường an to&agrave;n, an ninh.</li>
            </ul>
        </div>
    </div>
</body>

