
@{
    ViewBag.Title = "DiChuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <style>
        .my-container{
            margin: 20px 40px;
        }
    </style>
</header>
<body>
    <div class="my-container">
        <h1 align="center" ; style="font-size: 30px;">Phương Tiện Di Chuyển Tại Mỹ </h1>
        </h1>
        <div align="justify" style="padding: 20px 300px; font-size: 30px;">
            <p align="center" style="color:brown;">
                Mỹ là một đất nước rộng lớn và có mạng lưới giao thông rất phức tạp. Chính điều này lại gây nên nhiều khó khăn cho học sinh khi đi du học trung học Mỹ. do đó, việc tìm hiểu và lựa chọn các phương tiện phù hợp với bản thân sẽ giúp du học sinh không "bơ vơ" trên bất cứ đại lộ nào ở Mỹ.
                Việc chọn lựa phương tiện giao thông nào để di chuyển còn tùy thuộc vào vị trí của ngôi trường bạn học nằm ở đâu. Các phương tiện giao thông phổ biến ở Mỹ như: Xe đẹp, xe bus, taxi, xe lửa và tàu điện ngầm,..
            </p>
        </div>

        <div>
            <div>
                <div>
                    <div><img src="~/Content/images/camnang/15newyork1_ad678.jpg" alt="" style="float: right; margin-left: 20px;"></div>
                </div>
                <div>
                    <h2 style="color:rgb(0, 0, 255) ;">Xe đạp</h2>
                    <p style="font-size: 23px;">
                        Còn điều gì tuyệt hơn khi tham quan khuôn viên trường hay dạo chơi ngắm cảnh khu vực bạn sống bằng một chiếc xe đạp. Bạn có thể dễ dàng sở hữu một chiếc xe đạp vì giá của nó khá rẻ. Chưa kể việc đạp xe còn giúp bạn rèn luyện được cả sức khỏe và tinh thần.<br>
                        Khi điều khiển xe đạp,học sinh nên chú ý chấp hành tốt những quy định của pháp luật nhất là việc đội nón bảo hiểm, Ở một số Bang của Mỹ đó là điều bắt buộc.<br>
                        Học sinh tại các trường trung học ở Mỹ khi đi học bằng xe đạp được hỗ trợ thêm giá đỡ xe trong khuôn viên trường. Như bất kỳ những tài sản các nhân khác, bạn nên giữ gìn chiếc xe đạp của mình bằng một chiếc khóa khi không sử dụng nó. Một chiếc khóa tốt thì có giá tương đối cao, tuy nhiên so với sự an toàn cho chiếc xe đạp thì nó không nhằm nhò gì.
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div>
            <div>
                <div><img src="~/Content/images/camnang/download.jpg" alt="" style="width: 500px; float: left; margin-right: 20px;"></div>
            </div>
            <div>
                <h2 style="color: rgb(0, 0, 255);">Xe buýt</h2>
                <div style="font-size: 23px;">
                    Nhắc đến xe buýt thì không thể không kể đến cái tên Greyhound - hãng vận tải bằng có quy mô trải dài trên tất cả hệ thống giao thông ở Mỹ. Xe buýt là phương tiện di chuyển công cộng được nhiều học sinh lựa chọn nhất vì chỉ tốn một khoản rất nhỏ mà có thể đi một chặng đường dài. Nhiều người đã chọn xe buýt là phương tiện để đi du lịch đó đây.<br>
                    Nếu  bạn đang  theo học tại các thành phố lớn thì hệ thống xe buýt rất rộng rãi, có nhiều chuyến xe di chuyển liên tục. Ngược lại, ở các vùng ngoại ô thì xe buýt sẽ không chạy thường xuyên. Vì vậy, bạn nên chuẩn bị cho mình một phương tiện "sơ cua" khi không thể đón được xe buýt.
                    Hầu hết các hệ thống xe buýt ở Mỹ đã cung cấp các ứng dụng trên điện thoại thông minh cho phép các bạn theo dõi lịch trình hoạt động.
                </div>
            </div>
        </div>
        <br>
            <div>
                <div>
                    <div><img src="~/Content/images/camnang/taxi.jpg" alt="" style="width: 500px; float: right; margin-left: 20px;"></div>
                </div>
                <div>
                    <h2 style="color: rgb(0, 0, 255);">Taxi</h2>
                    <p style="font-size: 23px;">
                        Đối với du học sinh, taxi co vẻ rất "sang chảnh". Tuy nhiên, taxi là một sự lựa chọn đáng cân nhắc khi di chuyển một quãng đường dài bằng xe đạp hoặc không có hệ thống xe buýt hay tàu điện ngầm. Hãy kiểm tra đầy đủ giấy tờ trước khi lên xe và đảm bảo đồng hồ tính tiền đang chạy. đừng bao giờ lên một chiếc taxi khi tài xế yêu cầu bạn  trả thêm một khoản phí nào đó.<br>
                        Uber là dịch vụ rẻ hơn taxi.  Để sử dụng được dịch vụ này, bạn phải nhập vị trí bắt đầu và kết thúc của mình trong ứng dụng của điện thoại thông minh. Sau đó có một tài xế đến đón bạn tới nơi bạn muốn  mà lại tiết kiệm rất nhiều so với đi taxi.
                    </p>

                </div>
            </div>
        </br>
        <div style="font-size: 23px;">
            <div> <img src="~/Content/images/camnang/uklife-life-traffic-04.jpg" alt="" style="width: 500px; float: left; margin-right: 20px"></div>
        </div>
        <div>
            <h2 style="color:brown;">London Underground</h2>
            <p style="font-size: 23px;">
                Cách nhanh nhất và thường thuận tiện nhất để đi vòng quanh Luân Đôn là sử dụng Tàu điện ngầm hoặc Tàu điện ngầm Luân Đôn. Các chuyến tàu chạy theo lịch trình thường xuyên và bao phủ hầu hết Luân Đôn. Nếu bạn theo học tại một học viện ở Luân Đôn, bạn nên mua cho mình Thẻ Oyster sinh viên, thẻ này sẽ giảm giá cho bạn bất cứ lúc nào. Tuy nhiên, nếu bạn ở London trong một khoảng thời gian ngắn, hãy dành thời gian tìm các hình thức giảm giá khác, ví dụ như thẻ du lịch một ngày.
            </p>
        </div>
        <div style="font-size: 23px;">
            <div>
                <strong style="color: rgb(0, 0, 255);">Tàu hỏa và tàu điện ngầm:</strong> Tàu điện ngầm là phượng tiện bạn có thể dễ dàng tìm thấy khi du học Mỹ tại các thành phố lớn như: Boston, New York, Chicago,.. Có lẽ bạn sẽ muốn làm quen với nó vì có khả năng đây là phương tiện phổ biến nhất để di chuyển.
                Mặc khác, nếu bạn có ý định đi du lịch đâu đó ở Mỹ thì tàu hỏa là sự chọn lựa tốt nhất. Chắc chắn giá vé xe lửa sẽ cao hơn so với xe buýt nhưng thời gian di chuyển được rút ngắn lại rất nhiều.<br>
                <strong style="color: rgb(0, 0, 255);">Thuê xe tự lái: </strong>Chắc chắn trong đầu bạn sẽ có ý muốn được đi du lịch khi sang Mỹ. Nếu bạn và những người bạn của mình đã lên một kế hoạch dài hơi trong một kỳ nghỉ thì nên nghĩ đến dịch vụ cho thuê xe. Một điều quan trọng là các bạn phải đảm bảo rằng đã đóng bảo hiểm đầy đủ và một tài xế đã có bằng lái và kinh nghiệm lái xe.<br>
                Có rất nhiều cách để di chuyển ở Mỹ và hãy có sự cân nhắc để chọn lựa cho mình những phương tiện phù hợp nhất..
            </div>
        </div>
    </div>
</body>

