
@{
    ViewBag.Title = "Đồ ăn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        body{
            padding:30px 0;
        }
        table {
            border-collapse: collapse; /* Giúp ô trong bảng không bị tách biệt */
            width: 100%; /* Chiều rộng bảng */
            border: 1px solid black; /* Đường viền cho bảng */
        }

        th, td {
            border: 1px solid black; /* Đường viền cho ô trong bảng */
            padding: 8px; /* Khoảng cách giữa nội dung và viền của ô */
            text-align: left; /* Căn lề văn bản trong ô sang trái */
        }
    </style>
</head>
<body>
    <div align="justify" style="padding: 0 200px; font-size: large;">
        <p align="center">
            <h1>Du học sinh mua sắm thực phẩm & ẩm thực nước Mỹ</h1>


            <h4 style="color: black;">1. Hệ thống siêu thị và các chương trình giảm giá khủng</h4>

        <p>Nhiều du học sinh học tập và làm việc lâu năm tại Mỹ cho rằng: &ldquo;Mua sắm tại Mỹ giống như một trò chơi. Khi bạn biết cách chơi thì bạn sẽ tiết kiệm được cả ngàn đô&rdquo;</p>
        <p>Các siêu thị Mỹ có chính sách tặng luôn hàng cho khách nếu khách bị tính tiền sai. Bên cạnh đó, các siêu thị cạnh tranh nhau với những chương trình khuyến mãi, thẻ giảm giá, thẻ tích điểm,... Việc bạn cần làm là đăng ký thẻ tích điểm, kết hợp sử dụng các thẻ và chương trình khuyến mại.</p>

        <p>Chương trình gameshow truyền hình Extreme Coupon của Mỹ hướng dẫn và cung cấp coupon giảm giá cho người tiêu dùng. Có người chỉ phải trả $60 cho số lượng hàng hóa trị giá $1.000.</p>

        <p><img src="~/Content/images/camnang/uslife-life-food-01.jpg" alt="" style="margin: 20px 120px;" width="700" height="350" /></p>

        <table class="table">
            <tr>
                <td style="color:deepskyblue;">Walmart</td>
                <td>Chuỗi siêu thị bán lẻ hàng đầu tại Mỹ, hàng hóa đa dạng và giá rất bình dân.</td>
            </tr>
            <tr>
                <td style="color:deepskyblue;">Target</td>
                <td>Target mở rộng quy mô, với sự xuất hiện của nhiều cửa hàng ở phía Bắc giáp biên giới Canada. Hiện đã có thêm mặt hàng thực phẩm trong các cửa hàng Target</td>
            </tr>
            <tr>
                <td style="color:deepskyblue;">Trader Joe&rsquo;s</td>
                <td>Phổ biến tại các bang phía Nam</td>
            </tr>

            <tr>
                <td style="color:deepskyblue;">Albertsons</td>
                <td>Albertsons là hệ thống siêu thị lớn thứ hai tại Mỹ với hơn 2.300 siêu thị</td>
            </tr>
            <tr>
                <td style="color:deepskyblue;">Royal Ahold/ Delhaize</td>
                <td>Chuỗi siêu thị của 2 tập đoàn bán lẻ lớn tại Mỹ với hơn 6.400 cửa hàng.</td>
            </tr>
            <tr>
                <td style="color:deepskyblue;">Costco</td>
                <td>Bạn cần đăng ký hội viên để mua sắm tại Costo - chuỗi siêu thị lớn với hàng triệu mặt hàng từ thực phẩm đến thuốc.</td>
            </tr>
            <tr>
                <td style="color:deepskyblue;">Sam&rsquo;s Club</td>
                <td>Siêu thị bán sỉ cung cấp chương trình điểm thưởng cho khách hàng.</td>
            </tr>
            <tr>
                <td style="color:deepskyblue;">Publix </td>
                <td>Một trong những chuỗi siêu thị lớn nhất nước Mỹ </td>
            </tr>
            <tr>
                <td style="color:deepskyblue;">Wegmans. Hollis Johnson</td>
                <td><br /></td>
            </tr>
            <tr>
                <td style="color:deepskyblue;">H-E-B</td>
                <td><br /></td>
            </tr>
            <tr>
                <td style="color:deepskyblue;">Aldi</td>
                <td>Chuỗi siêu thị bán lẻ giá bình dân đến từ Đức</td>
            </tr>
            <tr>
                <td style="color:deepskyblue;">The Kroger Co</td>
                <td><br /></td>
            </tr>
        </table>

        <h4 style="color: black;">2.Bí quyết đi chợ tiết kiệm</h4>

        <p>Tiền đi chợ tại Mỹ có thể rẻ hơn tại Việt Nam. Điều này tưởng như bất khả thi nhưng bạn sẽ hoàn toàn có thể làm được một cách dễ dàng. Để đi ăn hàng tạ Mỹ bạn phải tốn khá tiền do phí dịch vụ đắt, giá nhân công cao. Vì vậy tự nấu ăn sẽ là thượng sách để tiết kiệm. Lời khuyên cho các du học sinh là những thực phẩm như thịt, cá, trứng, sữa,... nên mua tại siêu thị và rau quả, gia vị, gạo,... mua tại cửa hàng châu Á. </p>
        <p>Trung bình một lần mua thực phẩm các bạn du học sinh dành khoảng $40-$50 cho 1 lần mua thực phẩm để nấu nước cho hơn 1 tuần. So với việc mua đồ ăn mua sẵn, việc nấu ăn tại nhà giúp bạn tiết kiệm đến khoảng $300/ tháng.</p>
        <h4 style="color: black;">3. Tránh &ldquo;sốc&rdquo; với đồ ăn Mỹ</h4>
        <p>Do những khác biệt quá lớn giữa ẩm thực và phong cách ăn uống giữa 2 nước. Bạn nên học cách nấu các món Việt Nam để có dịp trổ tài và quan trọng nhất là hợp khẩu vị, có lợi cho sức khỏe, tiết kiệm. </p>
        <p><img alt="Image result for american food" src="~/Content/images/camnang/uslife-life-food-02.jpg" style="margin: 20px 120px;" width="700" height="350" /></p>
        <p>Giao lưu với các sinh viên, người dân bản địa và thưởng thức các đồ ăn địa phương để có thêm trải nghiệm cũng như đa dạng hóa thực đơn của mình. Bên cạnh các món ăn nhanh, hamburger, hotdog,... nền ẩm thực Mỹ còn có rất nhiều món ăn hấp dẫn khác chúng ta cùng khám phá tại mục dưới đây nhé. </p>
        <h4 style="color: black;">4. Các món ăn truyền thống hấp dẫn nhất nước Mỹ</h4>

        <p><strong style="color: black;">a. Bánh táo</strong></p>
        <p><img alt="Image result for apple pie" src="~/Content/images/camnang/uslife-life-food-03.jpg" style="margin: 20px 120px;" width="700" height="350"/></p>
        <p>Bánh táo là loại bánh tráng miệng rất phổ biến ở Mỹ, có vị ngọt hoặc hơi chua với thành phần chính là táo, bao bọc bằng bột mì và bơ. Bánh xuất hiện từ nhiều thế kỷ trước, là biểu tượng văn hóa, sự thịnh vượng và niềm tự hào quốc gia của người dân Mỹ. Du khách có thể tìm thấy loại bánh này ở bất cứ đâu trên đất Mỹ, một trong những địa điểm tuyệt vời để thưởng thức bánh táo là ở Pie-O-Neer, tiểu bang New Mexico.</p>

        <p><strong style="color: black;">b. Bánh phô mai (cheesecake)</strong></p>
        <p><img alt="Image result for cheesecake" src="~/Content/images/camnang/uslife-life-food-04.jpg" style="margin: 20px 120px;" width="700" height="350"/></p>

        <p><strong style="color: black;">c. Súp sò điệp (Scallop soup)</strong></p>
        <p><img alt="Image result for scallop soup" src="~/Content/images/camnang/uslife-life-food-05.jpg" style="margin: 20px 120px;" width="700" height="350"/></p>
        <p>Súp sò điệp là món ăn mà du khách nào cũng muốn được thưởng thức khi đến thăm New England. Súp là hỗn hợp của thịt trai, khoai tây, thịt lợn muối, kem và gia vị, được bán ở khắp mọi nơi, có màu trắng, hương thơm hấp dẫn</p>

        <p><strong style="color: black;">d. Bánh nướng kẹp cá hồi hun khói (Bagel &amp; smoked salmon)</strong></p>
        <p><img alt="Image result for Bagel & smoked salmon" src="~/Content/images/camnang/uslife-life-food-06.jpg" style="margin: 20px 120px;" width="700" height="350" /></p>
        <p>Đây là là món bánh mì tròn nướng thơm phứcăn kèm cá hồi xông khói đậm đà. Món ăn này phổ biến ở khu Manhattan sôi động.</p>

        <p><strong style="color: black;">e. Deep-dish pizza</strong></p>
        <p><img alt="Image result for deep dish pizza" src="~/Content/images/camnang/uslife-life-food-07.jpg" style="margin: 20px 120px;" width="700" height="350"/></p>
        <p>Pizza đế dày là đặc sản ở thành phố Chicago. Bánh có lớp vỏ bánh mì dày với lượng phô mai hào phóng hơn bình thường.</p>
        <p><strong style="color: black;">f. Thịt nướng Texas</strong></p>

        <p>Thịt nướng là món ăn đặc trưng ở bang Texas. Để mua được miếng thịt tươi ngon, hãy tới chợ nông sản Dallas. </p>
        <p><img alt="Image result for texas bbq" src="~/Content/images/camnang/uslife-life-food-08.jpg" style="margin: 20px 120px;" width="700" height="350"/></p>
    </div>
    </div>
</body>
