
@{
    ViewBag.Title = "Hoạt động";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div style="padding: 20px 200px;">
        <h1 align="center">
            Du lịch Mỹ cho du học sinh
        </h1>
        <h2 style="color: rgb(41, 136, 136);">I. Những điểm du lịch hấp dẫn ở Mỹ</h2>
        <p style="color: rgb(31, 7, 150);">New York</p>
        <p>Khi tới New York, bạn đừng bỏ lỡ cơ hội tham quan Tượng Nữ Thần Tự Do nằm trên Vịnh Hudson, khu Manhattan, Phố Wall, Quảng trường Thời đại, và trụ sở chính của Liên Hiệp Quốc.</p>
        <p><img alt="Image result for new york" src="~/Content/images/camnang/uslife-life-play-01.jpg" width="519" height="346" style="margin: 2% 20%; " /></p>
        <p style="color: rgb(31, 7, 150);">Washington D.C.</p>
        <p>Những địa điểm nên tham quan tại Washington D.C mà bạn không nên bỏ qua:</p>
        <p>White House - Nhà Trắng, Điện Capitol - Toà nhà lưỡng viện Quốc hội, Nhà tưởng niệm Abraham Lincoln, Bức tường chiến tranh Việt Nam.</p>
        <p><img alt="Image result for Washington" src="~/Content/images/camnang/downtown-washington-dc.jpg" width="519" height="346" style="margin: 2% 20%;" /></p>
        <p style="color: rgb(31, 7, 150);">Thành phố Philadelphia</p>
        <p>Đây là thủ đô lập quốc đầu tiên của nước Mỹ nơi có các địa danh nổi tiếng như:</p>
        <p>Independence Hall - Toà nhà Tuyên ngôn Độc lập, Liberty Bell - Quả chuông Tự do, Philadelphia Mint (Xưởng đúc tiền xu của Mỹ).</p>
        <p><img alt="Image result for Philadelphia" src="~/Content/images/camnang/philadelphia.jpg" width="519" height="346" style="margin: 2% 20%;"/></p>
        <p style="color: rgb(31, 7, 150);">San Francisco</p>
        <p>Những điểm tham quan nổi tiếng nhất gồm có Golden Gate, Lombard Street - con đường ngoằn ngoèo nổi tiếng, Transamerica Pyramid -- tòa nhà chọc trời hình kim tự tháp.</p>
        <p> </p>
        <p><img alt="golden-gate.jpg" src="~/Content/images/camnang/uslife-life-play-02.jpg" width="624" height="351" style="margin: 2% 20%;"/> <br><strong>Cầu Cổng Vàng Golden Gate</strong></p>
        <p style="color: rgb(31, 7, 150);">Los Angeles</p>
        <p>Bạn nên ghé thăm phim trường khổng lồ Universal Studios Hollywood, Hall of Fame tại Hollywood, Nhà hát Kodak nơi trao giải Oscar danh tiếng, Beverly Hills, Công viên Disneyland.</p>
        <p><img alt="Image result for los angeles hollywood" src="~/Content/images/camnang/uslife-life-play-03.jpg" width="463" height="302" style="margin: 2% 20%;"/></p>
        <p style="color: rgb(31, 7, 150);">Las Vegas</p>
        <p><img alt="Related image" src="~/Content/images/camnang/uslife-life-play-04.jpg" width="446" height="335" style="margin: 2% 20%;"/></p>
        <p>Bên cạnh những tòa nhà xa hoa hoa, sang chảnh, Las Vegas còn có nhiều cảnh quan đẹp như Vườn quốc gia Grand Canyon, Đập nước Hoover với hồ nước nhân tạo lớn nhất thế giới.</p>
        <p style="color: rgb(36, 106, 106);">II. Cẩm nang tiết kiệm chi phí du lịch tại Mỹ</p>
        <p style="color: rgb(17, 143, 17);">Lựa chọn khung giờ bay rẻ nhất</p>
        <p>Do diện tích rộng lớn và khoảng cách xa giữa các thành phố, máy bay là phương tiện di chuyển thuận tiện và tiết kiệm chi phí lẫn thời gian nhất. Và một trong những kinh nghiệm du lịch Mỹ tiết kiệm chi phí tốt nhất đó chính là lựa chọn khung giờ bay có mức giá rẻ nhất. Bạn nên có kế hoạch trước một đến vài tháng, và đặt vé sớm để lựa chọn được hãng bay và vé có giá rẻ.  </p>
        <p><img alt="Image result for LAX" src="~/Content/images/camnang/uslife-life-play-05.jpg" width="507" height="285" style="margin: 2% 20%;"/></p>
        <br />
        <p>Trang web tìm vé máy bay/ so sánh giá vé:</p>
        <p>Skyscanner: <a href="https://www.skyscanner.com">https://www.skyscanner.com</a></p>
        <p>Kayak: <a href="https://www.kayak.com/horizon/sem/flights/general">https://www.kayak.com/horizon/sem/flights/general</a></p>
        <p>    </p>
        <p>Các hãng máy bay giá rẻ tại Mỹ:</p>
        <p>Southwest - hãng máy bay giá rẻ số 1 tại Mỹ &amp; Thế giới:      </p>
        <p>Delta Airlines</p>
        <p>Frontier Airlines - 88 chặng bay nội địa và tới các nước Châu Mỹ:</p>
        <p>Sun Country Airlines - rất tiện lợi nếu bạn ở bang Minnesota:</p>
        <p>Allegiant Air</p>
        <p>JetBlue</p>
        <p style="color: rgb(17, 143, 17);">Chọn chuyến bay quá cảnh</p>
        <p>Vì các chuyến bay direct thường có giá đắt hơn nhiều so với những chuyến quá cảnh. Nếu bạn không quá gấp rút về mặt thời gian thì có thể tranh thủ nơi quá cảnh để khám phá, thăm thú thêm một địa điểm nữa trong chuyến du lịch thú vị của mình.</p>
        <p style="color: rgb(17, 143, 17);">Hạn chế đi du lịch vào thời gian cao điểm</p>
        <p>Đi du lịch mùa thấp điểm không những giúp bạn tiết kiệm chi phí đi lại và ăn ở, mà còn tránh được sự ồn ào và phiền toái khi có quá nhiều du khách đổ về.</p>
        <p><img alt="" src="~/Content/images/camnang/uslife-life-play-06.jpg" width="538" height="358" style="margin: 2% 20%;"/></p>
        <p style="color: rgb(17, 143, 17);">Chuẩn bị sẵn đồ ăn</p>
        <p>Nếu bạn lựa chọn các hãng hàng không giá rẻ hoặc khách sạn/ phòng trọ không bao gồm bữa sáng, bạn cần chuẩn bị sẵn thức ăn cho mình và việc này sẽ giúp bạn tiết kiệm được rất nhiều.</p>
        <p style="color: rgb(17, 143, 17);">Thưởng thức ẩm thực đường phố</p>
        <p>Thay vì dùng bữa tại các nhà hàng, bạn hãy thử thưởng thức những món nổi tiếng của ẩm thực đường phố nơi bạn đặt chân đến. Không những có chi phí rẻ, đây cũng là những trải nghiệm thú vị trong chuyến đi của bạn.</p>
        <br />
        <p><img alt="Related image" src="~/Content/images/camnang/uslife-life-play-07.jpg" width="494" height="296" style="margin: 2% 20%;"/></p>
        <br />
        <p>Những món ăn của ẩm thực đường phố có thể kể tên như: Thịt nướng ở vùng Tây Nam nước Mỹ, Hamburger và Hotdog ở bất cứ vùng lãnh thổ nào &ldquo;xứ Cờ Hoa&rdquo;, bánh crêp vùng Nam California, Bánh Doughnut kẹp thịt ở Chicago, ...</p>
        <br />
        <p style="color: rgb(17, 143, 17);">Cân nhắc mua bảo hiểm du lịch</p>
        <p>Nếu khóa học tại Mỹ của bạn còn dài và bạn hay đi du lịch, bạn có thể cân nhắc mua gói bảo hiểm du lịch hằng năm.</p>
        <p style="color: rgb(17, 143, 17);">Các loại hình phương tiện giao thông</p>
        <p>Tùy vào điểm đến và xuất phát, bạn có thể lựa chọn các phương tiện đi lại có thể bao gồm xe buýt, tàu hỏa và tàu điện ngầm, taxi, máy bay, ô tô, xe đạp. Bên cạnh máy bay, bạn có thể lựa chọn phương tiện công cộng hoặc thuê xe tự lái nếu khoảng cách không quá xa.</p>
        <p>4 thành phố có hệ thống giao thông công cộng tốt nhất nước Mỹ phải là New York city, San Francisco, Boston và thủ đô Washington D.C.</p>
        <p><img alt="Image result for bus new york" src="~/Content/images/camnang/uslife-life-play-08.jpg" width="452" height="316" style="margin: 2% 20%;"/></p>
        <p>Nếu bạn chọn lái xe ô tô để di chuyển giữa các thành phố và tiểu bang, bạn phải biết luật đường bộ tại Mỹ và có bằng lái xe hợp lệ được chấp nhận. Để đảm bảo mình sẽ không vi phạm luật, bạn phải liên hệ phòng ban xe cơ giới của tiểu bang mà bạn dự định lái xe vào và nộp đơn xin cấp phép sớm.</p>
        <br>
    </div>
    </div>
    </div>

</body>

