
@{
    ViewBag.Title = "LichThiIelts";
    <link rel="stylesheet" href="~/Content/css/LichThiIELTS.css" />

}

<div class="content">
    <div class="full-body">
        <div class="header-title">
            <h1>Lệ phí, địa điểm & lịch thi IELTS 2023 tại USEP</h1>
        </div>
        <div class=".....">
            <p>
                USEP là đơn vị tổ chức thi IELTS uy tín cho phép bạn lựa chọn địa
                điểm thi tại TP.HCM, Hà Nội, và gần 40 tỉnh thành khác nhau. Bạn
                có thể đăng ký lịch thi IELTS với hình thức thi trên máy tính được
                tổ chức vào hầu hết các ngày trong tuần, hoặc kỳ thi trên giấy tổ
                chức 3-4 lần/ tháng.
            </p>
        </div>
        <div class="....">
            <p>
                Tham khảo lịch thi IELTS 2023 tại các tỉnh thành và chọn lựa thời
                điểm thi phù hợp nhất. Duy nhất tại USEP bạn được chọn ngày thực
                hiện phần thi kỹ năng Nói.
            </p>
        </div>
        <div class="le-phi-thi">
            <div class="header-title">
                <p>Lệ phí thi IELTS</p>
            </div>
            <div class="section1">
                <p>
                    Đăng ký thi IELTS tại USEP với lệ phí thi IELTS áp dụng trên
                    toàn quốc:
                </p>
                <ul>
                    <li>
                        IELTS trên giấy (Academic & General Training): 4.664.000 VNĐ
                    </li>
                    <li>
                        IELTS trên máy tính (Academic & General Training): 4.664.000
                        VNĐ
                    </li>
                    <li>IELTS UKVI: 5.252.000 VNĐ</li>
                    <li>IELTS Life Skills: 4.414.000 VNĐ</li>
                </ul>
                <p>
                    Thời hạn áp dụng với thuế VAT 8% từ ngày 01/07/2023 đến
                    31/12/2023.
                </p>
                <p>Các hình thức thi IELTS:</p>
                <p>
                    - IELTS Học Thuật (IELTS Academic): Áp dụng như yêu cầu đầu vào
                    đối với du học sinh theo học chương trình Đại học và Sau ĐH.
                </p>
                <p>
                    - IELTS Tổng Quát (IELTS General): Dành cho những bạn theo học
                    chương trình Trung học, các chứng chỉ đào tạo hoặc có phục vụ
                    mục đích định cư.
                </p>
                <p>
                    - IELTS UKVI: Dành cho những ai muốn đăng ký thị thực và xin
                    định cư tại Vương Quốc Anh. Nếu bạn có ý định du học, định cư
                    tại Anh, bạn có thể phải hoàn thành bài thi này.
                </p>
            </div>
        </div>
        <div class="lich-thi-ielts">
            <div class="header-title">
                <p>Lịch thi IELTS tại các tỉnh thành</p>
            </div>
            <div class="....">
                <p>
                    Lịch thi IELTS trên giấy tại TP.HCM, Hà Nội, Đà Nẵng và các tỉnh
                    thành khác
                </p>
            </div>
            <div class="section2">
                <table>
                    <tr class="col-title">
                        <td><p>Địa điểm</p></td>
                        <td><p>Tháng 7</p></td>
                        <td><p>Tháng 8</p></td>
                        <td><p>Tháng 9</p></td>
                        <td><p>Tháng 10</p></td>
                        <td><p>Tháng 11</p></td>
                        <td><p>Tháng 12</p></td>
                    </tr>
                    <tr class="row-color">
                        <td><a href="#">TP.HCM</a></td>
                        <td><p>1, 6, 8, 15, 22*, 29*</p></td>
                        <td><p>5, 12, 10*, 19, 26*, 31</p></td>
                        <td><p>2, 9*, 14, 16, 23*</p></td>
                        <td><p>7*, 12, 21, 28*</p></td>
                        <td><p>4, 9*, 18, 25*</p></td>
                        <td><p>2*, 7, 9, 16*, 23</p></td>
                    </tr>
                    <tr>
                        <td><a href="#">Hà Nội</a></td>
                        <td><p>1, 6, 8, 15, 22*, 29*</p></td>
                        <td><p>5, 12, 10*, 19, 26*, 31</p></td>
                        <td><p>2, 9*, 14, 16, 23*</p></td>
                        <td><p>7*, 12, 21, 28*</p></td>
                        <td><p>4, 9*, 18, 25*</p></td>
                        <td><p>2*, 7, 9, 16*, 23</p></td>
                    </tr>
                    <tr class="row-color">
                        <td><a href="#">Đà Nẵng</a></td>
                        <td><p>1, 6, 8, 15, 22*, 29*</p></td>
                        <td><p>5, 12, 10*, 19, 26*, 31</p></td>
                        <td><p>2, 9*, 14, 16, 23*</p></td>
                        <td><p>7*, 12, 21, 28*</p></td>
                        <td><p>4, 9*, 18, 25*</p></td>
                        <td><p>2*, 7, 9, 16*, 23</p></td>
                    </tr>
                    <tr>
                        <td><a href="#">Đồng Nai</a></td>
                        <td><p>6, 22*</p></td>
                        <td><p>5, 19</p></td>
                        <td><p>23*</p></td>
                        <td><p>21</p></td>
                        <td><p>4, 18</p></td>
                        <td><p>2*, 16*</p></td>
                    </tr>
                    <tr class="row-color">
                        <td><a href="#">Bình Dương</a></td>
                        <td><p>1, 22*</p></td>
                        <td><p>19</p></td>
                        <td><p>9*, 16</p></td>
                        <td><p>28*</p></td>
                        <td><p>25*</p></td>
                        <td><p>9</p></td>
                    </tr>
                    <tr>
                        <td><a href="#">Bình Thuận</a></td>
                        <td></td>
                        <td><p>5</p></td>
                        <td></td>
                        <td><p>7*</p></td>
                        <td></td>
                        <td><p>9</p></td>
                    </tr>
                    <tr class="row-color">
                        <td><a href="#">Cần Thơ</a></td>
                        <td><p>1, 15, 29*</p></td>
                        <td><p>10*, 26*</p></td>
                        <td><p>9*, 23*</p></td>
                        <td><p>7*, 21</p></td>
                        <td><p>4, 18</p></td>
                        <td><p>2*, 16*</p></td>
                    </tr>
                    <tr>
                        <td><a href="#">Vũng Tàu</a></td>
                        <td><p>6, 29*</p></td>
                        <td><p>5, 10*, 26*, 31</p></td>
                        <td><p>9*, 23*</p></td>
                        <td><p>7*, 21</p></td>
                        <td><p>4, 25*</p></td>
                        <td><p>2*, 16*</p></td>
                    </tr>
                    <tr class="row-color">
                        <td><a href="#">Daklak</a></td>
                        <td></td>
                        <td><p>19</p></td>
                        <td><p>16</p></td>
                        <td><p>12</p></td>
                        <td><p>18</p></td>
                        <td><p>9</p></td>
                    </tr>
                    <tr>
                        <td><a href="#">Hạ Long</a></td>
                        <td><p>22*, 29*</p></td>
                        <td><p>5</p></td>
                        <td></td>
                        <td><p>7*, 21, 28*</p></td>
                        <td><p>4, 18, 25*</p></td>
                        <td><p>2*, 7, 9, 16*</p></td>
                    </tr>
                    <tr class="row-color">
                        <td><a href="#">Hải Phòng</a></td>
                        <td><p>1, 6, 8, 15, 22*, 29*</p></td>
                        <td><p>5, 12, 10*, 19, 26*, 31</p></td>
                        <td><p>2, 9*, 14, 16, 23*</p></td>
                        <td><p>7*, 12, 21, 28*</p></td>
                        <td><p>4, 9*, 18, 25*</p></td>
                        <td><p>2*, 7, 9, 16*, 23</p></td>
                    </tr>
                    <tr>
                        <td><a href="#">Vinh</a></td>
                        <td><p>29*</p></td>
                        <td><p>12, 19, 26*</p></td>
                        <td><p>9*, 23*</p></td>
                        <td><p>7*, 28*</p></td>
                        <td><p>9*, 25*</p></td>
                        <td><p>2*, 9</p></td>
                    </tr>
                    <tr class="row-color">
                        <td><a href="#">Thanh Hóa</a></td>
                        <td><p>22*</p></td>
                        <td><p>19</p></td>
                        <td><p>23*</p></td>
                        <td><p>28*</p></td>
                        <td><p>18</p></td>
                        <td><p>2*, 16*</p></td>
                    </tr>
                    <tr>
                        <td><a href="#">Thái Bình</a></td>
                        <td></td>
                        <td><p>10*</p></td>
                        <td></td>
                        <td></td>
                        <td><p>9*</p></td>
                        <td><p>9</p></td>
                    </tr>
                    <tr class="row-color">
                        <td><a href="#">Lào Cai</a></td>
                        <td><p>22*</p></td>
                        <td><p>26*</p></td>
                        <td></td>
                        <td></td>
                        <td><p>25*</p></td>
                        <td><p>9</p></td>
                    </tr>
                    <tr>
                        <td><a href="#"> Thái Nguyên</a></td>
                        <td></td>
                        <td><p>12</p></td>
                        <td><p>23*</p></td>
                        <td><p>21</p></td>
                        <td><p>9*</p></td>
                        <td><p>7</p></td>
                    </tr>
                </table>
                <div>
                    <p>Ghi chú: *Thi cả 2 hình thức IELTS Academic & General</p>
                </div>
            </div>
            <div class="section3">
                <div>
                    <p>
                        Lịch thi IELTS trên máy tính tại TP.HCM, Hà Nội, Đà Nẵng và
                        các tỉnh thành khác
                    </p>
                </div>
                <div>
                    <table border="1">
                        <tr class="col-title">
                            <td><p>Địa điểm</p></td>
                            <td><p>Tháng 7</p></td>
                            <td><p>Tháng 8</p></td>
                            <td><p>Tháng 9</p></td>
                            <td><p>Tháng 10</p></td>
                            <td><p>Tháng 11</p></td>
                            <td><p>Tháng 12</p></td>
                        </tr>
                        <tr class="row-color">
                            <td><a href="#">TP.HCM</a></td>
                            <td colspan="7"><p>7 ngày/ tuần</p></td>
                        </tr>
                        <tr>
                            <td><a href="#">Hà Nội</a></td>
                            <td colspan="7"><p>7 ngày/ tuần</p></td>
                        </tr>
                        <tr class="row-color">
                            <td><a href="#">Đà Nẵng</a></td>
                            <td colspan="7"><p>Thứ 3, 4, 6, 7, CN hàng tuần</p></td>
                        </tr>
                        <tr>
                            <td><a href="#">Đồng Nai</a></td>
                            <td><p>6, 22</p></td>
                            <td><p>5, 19</p></td>
                            <td><p>23</p></td>
                            <td><p>21</p></td>
                            <td><p>4, 18</p></td>
                            <td><p>2, 16</p></td>
                        </tr>
                        <tr class="row-color">
                            <td><a href="#">Bình Thuận</a></td>
                            <td></td>
                            <td><p>5</p></td>
                            <td></td>
                            <td><p>7</p></td>
                            <td></td>
                            <td><p>9</p></td>
                        </tr>
                        <tr>
                            <td><a href="#">Cần Thơ</a></td>
                            <td><p>1, 15, 29</p></td>
                            <td><p>10, 26</p></td>
                            <td><p>9, 23</p></td>
                            <td><p>7, 21</p></td>
                            <td><p>4, 18</p></td>
                            <td><p>2, 16</p></td>
                        </tr>
                        <tr class="row-color">
                            <td><a href="#">Vũng Tàu</a></td>
                            <td><p>6, 29</p></td>
                            <td><p>5, 10, 26, 31</p></td>
                            <td><p>9, 23</p></td>
                            <td><p>7, 21</p></td>
                            <td><p>4, 25</p></td>
                            <td><p>2, 16</p></td>
                        </tr>
                        <tr>
                            <td><a href="#">Hạ Long</a></td>
                            <td><p>22, 29</p></td>
                            <td><p>5</p></td>
                            <td></td>
                            <td><p>7, 21, 28</p></td>
                            <td><p>4, 18, 25</p></td>
                            <td><p>2, 7, 9, 16</p></td>
                        </tr>
                        <tr class="row-color">
                            <td><a href="#">Hải Phòng</a></td>
                            <td>
                                <p>1, 2, 6, 8, 9, 13, 15, 16, 20, 22, 23, 27, 29, 30</p>
                            </td>
                            <td><p>5, 6, 12, 13, 19, 20, 26, 27</p></td>
                            <td><p>2, 3, 9, 10, 16, 17, 23, 24, 30</p></td>
                            <td><p>1, 7, 8, 14, 15, 21, 22, 28, 29</p></td>
                            <td><p>4, 5, 11, 12, 18, 19, 25, 26</p></td>
                            <td><p>2, 3, 9, 10, 16, 17, 23, 24, 30, 31</p></td>
                        </tr>
                        <tr>
                            <td><a href="#">Vinh</a></td>
                            <td><p>22, 29</p></td>
                            <td><p>10, 26</p></td>
                            <td><p>9, 23</p></td>
                            <td><p>7, 28</p></td>
                            <td><p>9, 25</p></td>
                            <td><p>2, 9, 16</p></td>
                        </tr>
                        <tr class="row-color">
                            <td><a href="#">Thanh Hóa</a></td>
                            <td></td>
                            <td></td>
                            <td><p>23</p></td>
                            <td><p>28</p></td>
                            <td><p>18</p></td>
                            <td><p>2</p></td>
                        </tr>
                        <tr>
                            <td><a href="#">Thái Bình</a></td>
                            <td></td>
                            <td></td>
                            <td><p>23</p></td>
                            <td><p>28</p></td>
                            <td><p>18</p></td>
                            <td><p>2</p></td>
                        </tr>
                        <tr class="row-color">
                            <td><a href="#">Lào Cai</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><p>28</p></td>
                            <td><p>25</p></td>
                            <td><p>9</p></td>
                        </tr>
                        <tr>
                            <td><a href="#">Thái Nguyên</a></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><p>21</p></td>
                            <td><p>9</p></td>
                            <td><p>7</p></td>
                        </tr>
                    </table>
                    <div>
                        <p>
                            Chú ý: Các ngày thi trên máy tính đều có Academic & General
                            training.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="dia-diem-thi">
            <div class="header-title">
                <p>Thi IELTS ở đâu? Địa điểm đăng ký dự thi IELTS</p>
            </div>
            <div>
                <p>
                    Tại USEP, bạn có thể tự chọn lựa hình thức thi IELTS: làm bài
                    kiểm tra trên giấy hoặc trên máy tính.
                </p>
                <p>
                    Các kỳ thi diễn ra thường xuyên tại TP.HCM, Hà Nội và cùng nhiều
                    tỉnh thành. Địa điểm được lựa chọn để tổ chức các kỳ thi giấy là
                    các khách sạn, hội trường lớn đáp ứng đủ yêu cầu về cơ sở vật
                    chất, âm thanh, ánh sáng để đảm bảo chất lượng thi một cách tốt
                    nhất.
                </p>
            </div>
            <div class="address">
                <p>Văn phòng đăng ký trực tiếp của USEP:</p>
                <p>TP.HCM:</p>
                <p>- HCMC1: 828 Sư Vạn Hạnh, Phường 13, Quận 10</p>
                <p>- HCMC2: 10 Quốc Lộ 22, xã Tân Xuân, huyện Hóc Môn</p>
                <p>- HCMC3: M4 Thất Sơn, Cư xá Bắc Hải, Quận 10</p>
            </div>
        </div>
    </div>
</div>

