
@{
    ViewBag.Title = "Ngân Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div style="margin: 20px 200px">
        <h1 align="center" style="padding: 10px 0;">Dịch vụ ngân hàng dễ dàng hơn cho Du học sinh </h1>
        <div align="left" style="color: rgb(0, 0, 0);">Quản lý tài chính là một kỹ năng vô cùng quan trọng đối với du học sinh. USEP sẽ hỗ trợ bạn thực hiện điều này dễ dàng hơn ngay từ lúc bạn đang ở Việt Nam.&nbsp;</div>
        <div align="left" style="color: rgb(14, 106, 186); font-size: 20px;">
            <div style="color: rgb(7, 132, 90);"><strong>Dịch vụ Ngân hàng dành cho Du học sinh&nbsp;</strong></div>
            <p>USEP hợp tác với các tổ chức tài chính toàn cầu đáng tin cậy ở ở quốc gia bạn du học để giúp bạn quản lý tiền của mình một cách an toàn và bảo mật trong suốt thời gian học tập ở nước ngoài! &nbsp;</p>
            <p>Lợi ích Dịch vụ ngân hàng dành cho Du học sinh của USEP mang lại cho bạn:&nbsp;</p>
            <ul><li><strong>Tiết kiệm thời gian</strong>: Mở tài khoản và đăng ký dịch vụ ngân hàng trước khi bay sẽ giúp mọi thứ dễ dàng hơn khi bạn đến đó và giúp bạn tiết kiệm nhiều thời gian. &nbsp;</li><li><strong>Nhiều ưu đãi:</strong> Các tổ chức tài chính là đối tác của IDP thường cung cấp sản phẩm chuyên biệt hoặc giảm giá cho du học sinh&nbsp;</li><li><strong>Thuận tiện: </strong>Sử dụng dịch vụ Mobile banking - giúp dễ dàng gửi tiền qua số điện thoại của bạn bè hoặc thanh toán tại cửa hàng chỉ đơn giản "Chạm nhẹ” điện thoại của bạn (Tap mobile) &nbsp;</li></ul>
        </div>
    </div>
</body>

