
@{
    ViewBag.Title = "Thời Tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center" style="padding: 20px 200px; font-size: 25px;">
    <h1 align="center" ; style="font-size: 30px;">Khí hậu ở Mỹ </h1>
    <p align="justify">
        Mỹ có khí hậu đa dạng và phong phú do diện tích rộng lớn và địa hình đa dạng. Với đất nước trải dài từ cực Bắc đến cực Nam, từ Thái Bình Dương đến Đại Tây Dương, Mỹ có nhiều loại khí hậu khác nhau tại các khu vực khác nhau. Dưới đây là mô tả tổng quan về các loại khí hậu chính của Mỹ: <br>

        <span style="color:red;">Khí hậu cận nhiệt đới và nhiệt đới</span>: Các vùng miền Nam của Florida, Hawaii và Puerto Rico có khí hậu cận nhiệt đới và nhiệt đới. Mùa hè nóng ẩm và mùa đông ấm áp là đặc điểm của khu vực này. <br>

        <span style="color:orange;"> Khí hậu ôn đới và cận ôn đới</span>: Các khu vực phía Đông và phía Tây Bắc của Mỹ như New York, Chicago và Boston có khí hậu ôn đới với mùa đông lạnh và tươi mát, mùa hè ấm áp. <br>

        <span style="color:rgb(199, 199, 23);"> Khí hậu lục địa</span>: Khu vực Trung Tây Mỹ, chẳng hạn như Minessota và Kansas, có khí hậu lục địa với mùa hè nóng và mùa đông lạnh. <br> 

        <span style="color:green;"> Khí hậu biển</span>: Bờ biển California và khu vực phía Tây nước Mỹ có khí hậu biển với mùa hè mát mẻ và mùa đông ấm áp. <br>

        <span style="color:rgb(225, 10, 46);"> Khí hậu núi cao</span>: Các khu vực núi cao như Rocky Mountains có khí hậu lạnh, với mùa đông rất lạnh và mùa hè mát mẻ. <br>

        <span style="color:blue;"> Khí hậu sa mạc</span>: Các khu vực sa mạc như Nevada và Arizona có khí hậu sa mạc, với mùa hè nóng và khô, và mùa đông ôn hòa. <br>

        <span style="color:blueviolet;"> Khí hậu vùng Bắc Cực</span>: Khu vực Alaska thuộc Bắc Cực có khí hậu cực đoan, với mùa đông lạnh giá và mùa hè ngắn nhưng mát mẻ. <br>
        <span style="color:violet;"> Khí hậu Địa Trung Hải</span>: Các khu vực ở California như Los Angeles và San Francisco có khí hậu Địa Trung Hải. Điều này có nghĩa là họ trải qua mùa đông mát mẻ và mưa vào mùa mưa, thường là vào mùa xuân. Trong khi đó, mùa hè rất nóng và khô. Khí hậu này thích hợp cho trồng nho và cây ăn trái. <br>

        <span style="color:brown;"> Khí hậu bờ biển phía Tây</span>: Khu vực bờ biển phía Tây của Mỹ, từ Washington, Oregon đến California, có khí hậu biển. Đây là khí hậu ẩm ướt, mát mẻ và ôn hòa. Mùa đông không quá lạnh và mùa hè cũng không quá nóng. Đặc trưng của khí hậu này là có mùa mưa vào mùa đông và mùa xuân, trong khi mùa hè thường khá khô. Khu vực này có khí hậu thuận lợi cho cây trồng, đặc biệt là hoa quả và rau xanh.
</div>
<div style="display: flex;margin: 0 10%;">
    <div class="col-md-6" align="center" style="margin: 0% 7%;">
        <img src="~/Content/images/camnang/BandokhihauMy.jpg" alt="uklife-weather" width="1000">
    </div>
</div>

