
@{
    ViewBag.Title = "InfoAdmin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .hoso {
        background-color: #FFF2F2;
        margin: 2% 10%;
        width: 80%;
        height: 75vh;
        padding: 2%;
        border-radius: 20px;
        text-align: center;
    }
    img{
        margin: 0 auto;
        width: 70%;
    }
</style>
<body>
    <div class="hoso">
        <h1 style="text-align:center; font-size: 35px;">TRANG ADMIN CỦA USEP</h1><br />
        <img src="https://giasutamtaiduc.com/wp-content/uploads/2020/03/%C4%90i%E1%BB%81u-ki%E1%BB%87n-du-h%E1%BB%8Dc-M%E1%BB%B9-c%C3%B3-qu%C3%A1-ph%E1%BB%A9c-t%E1%BA%A1p.jpg">
    </div>
</body>